// 
// _task.scss
// 

.task-item {
    padding-left: 12px;
    position: relative;

    &:before {
        content: "\F01DB";
        font-family: "Material Design Icons";
        position: absolute;
        left: 0;
        font-size: 19px;
        top: -3px;
    }
}

.task-item-one {
    transition: transform 0.3s ease-in-out;
}

.task-item-one:hover {
    transform: scale(1.05);
}

.content {
    padding-bottom: 0;
}
  