.cursor-pointer {
  cursor: pointer;
}

*{
  box-sizing: border-box;
}

.react-datepicker-wrapper input {
  width: 100px;
}

.swal2-popup .swal2-html-container,
.swal2-popup .swal2-content {
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: var(--ct-gray-800);
}

button.react-datepicker__close-icon {
  display: none;
}

.react-datepicker__input-container input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  border-radius: 5px;
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
}

.react-datepicker__header {
  background-color: #fff !important;
}

.react-datepicker__day-names {
  background-color: #efeeee !important;
}

.react-datepicker__navigation {
  top: 7px !important;
}

.react-datepicker__day-name {
  width: 2rem !important;
  line-height: 2rem !important;
}

.react-datepicker__current-month {
  margin-bottom: 0.5rem !important;
}

.react-datepicker__day {
  width: 2rem !important;
  line-height: 2rem !important;
}

.custom-modal .modal-dialog.modal-dialog-centered {
  max-width: max-content;
}

.custom-modal .modal-body {
  padding: 0rem !important;
}

.custom-modal .modal-footer {
  border-top: none !important;
  padding-top: 0rem;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

.custom-select option {
  padding: 10px;
  /* Add padding to create space between options */
}

.hex-background {
  background-color: rgba(255, 87, 51, 0.5);
  /* Default RGBA color with 50% opacity */
}

.task__list {
  padding: 10px 5px;
}

.unselected-task {
  border-left: 3px solid #ffffff;
}

.selected-task {
  background-color: rgb(237, 237, 237);
  border-left: 3px solid #6558dc;
}

.table-responsive {
  min-height: 310px;
}

.status__btn {
  border: none;
  padding: 5px 15px;
}

ul {
  padding: 0;
}

.max-content {
  width: max-content;
}

.max-height {
  height: fit-content;
}

.custom-table {
  border-collapse: collapse;
  border-spacing: 8px;
  /* Adjust the spacing between columns as needed */
  margin-top: 30px;
}

.custom-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* Add a border to the right of each column */
  padding: 14px 8px;
  /* Adjust the padding as needed */
}

.custom-table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* Add a border to the right of each column */
  padding: 6px 8px;
  /* Adjust the padding as needed */
}

td,
th {
  /* text-align: center; Center-align the content horizontally */
  vertical-align: middle;
  /* Center-align the content vertically */
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-circle {
  width: 10px;
  height: 10px;
  background-color: #38d68d;
  border-radius: 50%;
  margin-right: 10px;
}

.round-circle-big {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid #70707096;
}

.my-dropdown-toggle::after {
  content: none;
}

.dotted-border-bottom {
  border-bottom: 1.4px dashed #81818196;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Adjust the number of columns */
  gap: 10px;
  /* Adjust the gap between grid items */
  row-gap: 25px;
}

@media screen and (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns */
    gap: 10px;
    /* Adjust the gap between grid items */
  }

  .grid-br {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* Adjust the number of columns */
    gap: 10px;
    /* Adjust the gap between grid items */
  }
}

/* ------------------------- Time line ------------------------ */
.history-tl-container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  /* margin: auto; */
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 20px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86d6ff;
  padding: 0 0 50px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
  margin-left: 21px;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -7px;
  content: " ";
  border: 6px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #007fc8;
  height: 10px;
  width: 10px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:first-child::before {
  border-color: #00ce64;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #0771ae;
  transition: all 1000ms ease-in-out;
}

.history-tl-container ul.tl li:first-child:hover::before {
  border-color: #00ce64;
}

ul.tl li .item-title {}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #8d8d8d;
  width: 100px;
  font-size: 12px;
}

/* date picker */
.custom-react-date-picker {
  border: none !important;
  width: 100%;
  outline: none !important;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
  text-align: right;
}

.react-datepicker-wrapper {
  width: max-content !important;
  /* position: fixed; */
  /* margin-right: 500px !important; */
}

.react-datepicker-wrapper input {
  cursor: pointer;
}

.calender-img {
  margin-right: -14px;
}

.custom-html-date-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  font-size: 12px;
  outline: rgba(0, 0, 0, 0.1);
  /* margin-right: 100px !important; */
  max-width: 100px;
  min-height: 38px;
}

.custom-multi-select {
  /* min-width: 150px; */
  height: 100%;
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay p {
  font-size: 1.5rem;
}

.lead-date-picker .react-datepicker-wrapper {
  width: 100% !important;
}

.lead-date-picker .react-datepicker__input-container input {
  padding: 8px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --ct-table-accent-bg: rgb(51 100 241 / 9%);
  color: var(--ct-table-striped-color);
}

.custom-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 8px;
  background: #3457aead !important;
  color: #fff !important;
}

.menu .menu-item .sub-menu .menu-text {
  font-size: calc(var(--ct-menu-item-font-size)* 1);
}

/* Hide increment and decrement arrows in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increment and decrement arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal-calendar-width .modal-dialog {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
}

.modal-calendar-width .modal-content {
  width: auto;
  margin: auto;
}

.content-page{
  overflow-x: hidden;
}


.nav-pills .nav_item_1 .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #0b118adc;
}

.nav-pills .nav_item_1 .nav-link:hover, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #0b118adc !important;
}

.nav-pills .nav_item_2 .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4760dde2;
}

.nav-pills .nav_item_2 .nav-link:hover, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4760dde2;
}

.nav-pills .nav_item_3 .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #684dc9dc;
}

.nav-pills .nav_item_3 .nav-link:hover, .nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #684dc9dc;
}


.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select{
  min-width: 200px !important;
  max-width: 200px !important;
}

.cust-date input{
  min-width: 200px !important;
  max-width: 200px !important;
}

.select-custom {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('./assets/images/icons/arrow.svg') no-repeat right 0.75rem center;
  background-size: .7rem .5rem; /* Size of the custom arrow */
  padding-right: 2.75rem; /* Increased padding to create space */
  border: 1px solid #ced4da; /* Optional: border styling */
  border-radius: 0.25rem; /* Optional: border-radius */
}

/* Optional: Add a visual placeholder for the arrow */
.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem; /* Space between the arrow and the edge */
  transform: translateY(-50%);
  width: 1rem;
  height: 0.5rem;
  /* background: url('./assets/images/icons/arrow.svg') no-repeat center; */
  background-size: contain;
  pointer-events: none; /* Ensure the arrow does not block clicks */
}

select {
  background-color: white; /* Background color of the select box */
  color: rgb(114, 148, 240); /* Text color of the selected option */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  appearance: none; /* Remove default styling for cross-browser consistency */
}

/* For styling the dropdown arrow */
select::-ms-expand {
  display: none;
}

/* If you want to style the options, you can target the entire select box */
option {
  color: black; /* Text color of options */
  background-color: white; /* Background color of options */
}

/* Change the color of the selected option (affects the select box itself) */
select option:checked {
  background-color: rgb(114, 148, 240) !important;
  color: rgb(255, 255, 255) !important;
}
option:hover{
  background-color: rgb(114, 148, 240) !important;
  color: rgb(255, 255, 255) !important;
}