@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.cursor-pointer {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
}

.inter-font {
  font-family: "Inter", sans-serif !important;
}

.swal2-popup .swal2-html-container,
.swal2-popup .swal2-content {
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: var(--ct-gray-800);
}

button.react-datepicker__close-icon {
  display: none;
}

.react-datepicker__input-container input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  border-radius: 5px;
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
}

.react-datepicker__header {
  background-color: #fff !important;
}

.react-datepicker__navigation {
  top: 7px !important;
}

.react-datepicker__day-name {
  width: 2rem !important;
  line-height: 2rem !important;
}

.react-datepicker__current-month {
  margin-bottom: 0.5rem !important;
}

.react-datepicker__day {
  width: 2rem !important;
  line-height: 2rem !important;
}

.custom-modal .modal-dialog.modal-dialog-centered {
  max-width: max-content;
}

.custom-modal .modal-body {
  padding: 0rem !important;
}

.custom-modal .modal-footer {
  border-top: none !important;
  padding-top: 0rem;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

.custom-select option {
  padding: 10px;
  /* Add padding to create space between options */
}

.hex-background {
  background-color: rgba(255, 87, 51, 0.5);
  /* Default RGBA color with 50% opacity */
}

.task__list {
  /* padding: 10px; */
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.unselected-task {
  border-left: none;
  border-left: 3px solid #ffffff00;
  transition: 0.5s box-shadow ease-in-out;
}

.unselected-task:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.unselected-task-pending:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.selected-task {
  background-color: rgb(255, 255, 255);
  border-left: 3px solid #6558dc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.unselected-task-pending {
  border-left: none;
  border-left: 3px solid #ffffff00;
  transition: 0.5s box-shadow ease-in-out;
}

.selected-task-pending {
  background-color: rgb(255, 255, 255);
  border-left: 3px solid #f1556c;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.table-responsive {
  min-height: 310px;
}

.status__btn {
  border: none;
  padding: 5px 15px;
}

ul {
  padding: 0;
}

.max-content {
  width: max-content;
}

.max-height {
  height: fit-content;
}

.custom-table {
  border-collapse: collapse;
  border-spacing: 8px;
  /* Adjust the spacing between columns as needed */
  margin-top: 30px;
}

.custom-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* Add a border to the right of each column */
  padding: 14px 8px;
  /* Adjust the padding as needed */
}

.custom-table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* Add a border to the right of each column */
  padding: 6px 8px;
  /* Adjust the padding as needed */
}

td,
th {
  /* text-align: center; Center-align the content horizontally */
  vertical-align: middle;
  /* Center-align the content vertically */
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-circle {
  width: 10px;
  height: 10px;
  background-color: #38d68d;
  border-radius: 50%;
  margin-right: 10px;
}

.round-circle-big {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid #70707096;
}

.my-dropdown-toggle::after {
  content: none;
}

.dotted-border-bottom {
  border-bottom: 1.4px dashed #81818196;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.8fr 0.5fr;
  /* Adjust the number of columns */
  gap: 20px;
  /* Adjust the gap between grid items */
  row-gap: 25px;
}

@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns */
    gap: 10px;
    /* Adjust the gap between grid items */
  }

  .grid-container > div:nth-child(4) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 870px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* Adjust the number of columns */
    gap: 10px;
    /* Adjust the gap between grid items */
  }

  .grid-container > div:nth-child(4) {
    grid-column: span 1;
  }
}

/* ------------------------- Time line ------------------------ */

.custom-html-date-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  font-size: 12px;
  outline: rgba(0, 0, 0, 0.1);
  /* margin-right: 100px !important; */
  max-width: 100px;
  min-height: 38px;
}

.custom-multi-select {
  /* min-width: 150px; */
  height: 100%;
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay p {
  font-size: 1.5rem;
}

.lead-date-picker .react-datepicker-wrapper {
  width: 100% !important;
}

.lead-date-picker .react-datepicker__input-container input {
  padding: 8px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --ct-table-accent-bg: rgb(51 100 241 / 9%);
  color: var(--ct-table-striped-color);
}

.custom-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 8px;
  background: #3457aead !important;
  color: #fff !important;
}

.menu .menu-item .sub-menu .menu-text {
  font-size: calc(var(--ct-menu-item-font-size) * 1);
}

/* Hide increment and decrement arrows in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-calendar-width .modal-dialog {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
}

.modal-calendar-width .modal-content {
  width: auto;
  margin: auto;
}

.content-page {
  overflow: visible;
}

html[data-sidenav-size="condensed"]:not([data-layout="horizontal"]) .content-page {
  width: calc(100% - var(--ct-leftbar-width-sm));
}
.content-page {
  width: calc(100% - var(--ct-leftbar-width));
}

.nav-pills .nav_item_1 .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4f55c7dc;
}

.nav-pills .nav_item_1 .nav-link:hover,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4f55c7dc !important;
}

.nav-pills .nav_item_2 .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4760dde2;
}

.nav-pills .nav_item_2 .nav-link:hover,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #4760dde2;
}

.nav-pills .nav_item_3 .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #684dc9dc;
}

.nav-pills .nav_item_3 .nav-link:hover,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #684dc9dc;
}

.nav-pills .nav_item_4 .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #635692dc;
}

.nav-pills .nav_item_4 .nav-link:hover,
.nav-pills .show > .nav-link {
  color: var(--ct-nav-pills-link-active-color);
  background-color: #635692dc;
}

.nav-link {
  color: #6c757d;
}

/* .select-wrapper{
  min-width: 200px !important;
  max-width: 200px !important;
}

.cust-date input{
  min-width: 200px !important;
  max-width: 200px !important;
} */

select {
  background-color: white; /* Background color of the select box */
  color: rgb(114, 148, 240); /* Text color of the selected option */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  appearance: none; /* Remove default styling for cross-browser consistency */
}

/* For styling the dropdown arrow */
select::-ms-expand {
  display: none;
}

------------------------- Time line ------------------------
/* .history-tl-container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: block;
  position: relative;
}
.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}
.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 20px;
  min-height: 50px;
  border-left: 1px dashed #86d6ff;
  padding: 0 0 50px 30px;
  position: relative;
}
.history-tl-container ul.tl li:last-child {
  border-left: 0;
  margin-left: 21px;
}
.history-tl-container ul.tl li::before {
  position: absolute;
  left: -7px;
  content: " ";
  border: 6px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #007fc8;
  height: 10px;
  width: 10px;
  transition: all 500ms ease-in-out;
}
.history-tl-container ul.tl li:first-child::before {
  border-color: #00ce64;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #0771ae;
  transition: all 1000ms ease-in-out;
}
.history-tl-container ul.tl li:first-child:hover::before {
  border-color: #00ce64;
} */

.history-tl-container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}
.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}
.history-tl-container ul.tl li {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.history-tl-container ul.tl li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  background: #86d6ff;
  width: calc(100% + 10px);
  z-index: -1;
}
.history-tl-container ul.tl li:last-child::after {
  content: none;
}
.history-tl-container ul.tl li::before {
  content: " ";
  border: 6px solid rgba(255, 255, 255, 0.74);
  border-radius: 50%;
  background: #007fc8;
  height: 10px;
  width: 10px;
  transition: all 500ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.history-tl-container ul.tl li:first-child::before {
  border-color: #00ce64;
}
.history-tl-container ul.tl li:hover::before {
  border-color: #0771ae;
  transition: all 1000ms ease-in-out;
}
.history-tl-container ul.tl li:first-child:hover::before {
  border-color: #00ce64;
}
.item-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.timestamp {
  font-size: 0.85em;
  color: #777;
  margin-top: 10px;
}

.dropdown-menu.show {
  max-height: 300px;
  overflow: auto;
}

.custom-accordion button.accordion-button {
  padding: 0 15px;
  background-color: rgb(104, 106, 112) !important;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
}

.custom-accordion2 button.accordion-button2 {
  padding: 0 15px;
  /* background-color: rgb(218, 131, 89) !important; */
}

.accordion-button2:not(.collapsed) {
  color: #ff0000 !important;
}

.form-group {
  width: 100%;
}

/* custom calender */
.custom-react-date-picker {
  border: none !important;
  width: 100%;
  outline: none !important;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
  text-align: left;
}

.react-datepicker-wrapper {
  width: max-content !important;
}

.react-datepicker-wrapper input {
  cursor: pointer;
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 400;
}

.calender-img {
  /* margin-right: -14px; */
  width: 19px;
}
.calender__container {
  display: flex;
}

.calender_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6658dd;
  padding: 2px 5px;
  border-radius: 5px;
}

.react-datepicker-wrapper input {
  width: 120px;
}

/* inbox card design */
.inbox__list {
  border-radius: 10px;
  overflow: hidden;
  min-height: 70vh;
  background-color: #ffffff;
}

.inbox__list_header {
  background: #e0def8;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 25px 20px;
}

.inbox__list_body {
  padding: 15px;
  padding-top: 10px;
  height: 100%;
}

.task__list_wrapper {
  margin-top: 5px;
}

.border_bottom::after {
  content: "";
  display: block; /* Allows the pseudo-element to occupy space */
  border-bottom: 1px solid #fff;
  width: 40px;
  margin: 2px auto; /* Centers the line within the parent */
}

.days_ago {
  text-align: "center";
  font-size: "10px";
  font-family: "Nunito";
}

.label_heading {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6c757d;
}

.action-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 25px;
}

@media only screen and (max-width: 860px) {
  .action-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.history_container {
  font-family: Nunito;
  border-radius: 10px;
  background: #fff;
  display: flex;
  min-height: 200px;
  overflow: hidden;
}

.history_heading {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #6658dd;
}

.history_heading h5 {
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

/* History === */
.history_items {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
}
.swiper-slide {
  min-width: max-content;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timestamp {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 1.5px dashed #6658dd;
  position: relative;
  transition: all 200ms ease-in;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0 1px;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
}
.status span:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #6658dd;
  border-radius: 25px;
  position: absolute;
  top: -9px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

/* calender style */
.react-datepicker {
  width: 100% !important;
}
.react-datepicker__month-container {
  width: 100% !important;
}
.react-datepicker__week {
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-names {
  margin: 2px 25px;
  background-color: #fff !important;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.react-datepicker__header {
  background-color: #e0def8 !important;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid #6658dd !important;
  color: #000000;
  font-weight: 400;
}
.react-datepicker__day--selected {
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid #6658dd !important;
  color: #000000;
  font-weight: 400;
}

.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem !important;
  height: 2.5rem;
}

.react-datepicker__current-month {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day:hover {
  border-radius: 50%;
  background-color: #e0def8;
}

.border_right h5,
.border_right p {
  padding: 0;
  margin: 0;
}

.separator {
  width: 1px; /* Thickness of the separator line */
  height: 40px; /* Height of the separator */
  background-color: #d6d7dd; /* Separator line color */
}

.checks_font_h5 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  color: #343a40;
}

.checks_font_p {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 500;
  color: #6c757d;
}

/* Application Check Sections */

.basic-card {
  padding: 2px;
  box-shadow: 0px 0px 17px -1px rgba(205, 207, 207, 1);
}

.program-availability-col {
  border-right: 1px solid #d6d7dd;
}

.doc-quantity-item {
  width: 301px;
  height: 91px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
}

.application-fee-col {
  width: 357px;
  height: 62px;
  background-color: #e0def8;
  border-radius: 5px;
}

.application-fee-col-text {
  font-size: 16px;
  font-weight: 500;
}

.application-fee-col-amount-col {
  background-color: #6658dd;
  color: white;
  width: 116px;
  height: 38px;
  border-radius: 5px;
}

.view-all-container {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%236657DDFF' stroke-width='2' stroke-dasharray='2%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 38.2px 0px #0000001a;
  padding: 10px;
}
.portal-box-container {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 38.2px 0px #0000001a;
  padding: 10px 20px;
}

.portal-input-box {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #b3acee99;
}

.portal-box-items p {
  font-size: 14px;
  font-weight: 500;
}
  
.reference-details-button {
  background-color: #6658dd;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  width: 172px;
  height: 38px;
}

.qualification-box {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 38.2px 0px #0000001a;
  padding: 15px;
  height: auto;
  display: flex;
  flex-direction: column; /* Stack content */
  justify-content: space-between;
}

.qualification-container {
  display: grid; /* Use grid layout for flexibility */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
  gap: 16px; /* Space between items */
}

.no-data-container {
  border: 1px solid #6c757d;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}

.swiper-wrapper {
  display: flex;
  gap: 30px;
}

.remarks-panel {
  position: absolute;
  top: 0;
  right: -200px;
  height: 100%;
  width: 200px;
  background-color: #6f42c1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.remarks-panel.visible {
  right: 0;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background-color: #ddd;
  color: #6f42c1;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.remark-button-section {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.hidden {
  display: none;
}

.remark-text-area{
  box-shadow: 0px 0px 17px -1px rgba(205, 207, 207, 1);
  resize: none;
}

.dropdown-menu.show{
  z-index: 1;
}